/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/*   ------------------------  clock  ---------------------- */
        /*钟表圆圈的样式*/
        .circle {
            position: relative;
            margin: 0 0;
            width: 100px;
            height: 50px;
            border: 2px solid black;
			border-bottom:transparent;
            border-radius: 100px 100px 0 0;
			background: -webkit-linear-gradient(top,#AAAAAA,#666666);
			text-align:center;
        }
        /*秒针*/
        #sec {
            position: absolute;
            top: 49px;
            left:49px;
            width: 5px;
            height: 45px;
            background-color: chocolate;
            -webkit-transform-origin: 50% 0%;
            -moz-transform-origin: 50% 0%;
            -ms-transform-origin: 50% 0%;
            -o-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        }
        /*钟表中心圆点*/
        #point {
            position: absolute;
            z-index: 1;
            top: 45px;
            left: 45px;
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 10px;
        }
        /*钟表刻度*/
        ul li {
            list-style: none;
            position: absolute;
            top: 45px;
            left: 45px;
            width: 1px;
            height: 49px;
            border-bottom: 0px solid black;
            -webkit-transform-origin: 50% 0%;
            -moz-transform-origin: 50% 0%;
            -ms-transform-origin: 50% 0%;
            -o-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        }
        /*钟表小时刻度，就是长一点的那个刻度*/
        ul li.lang {
            height: 45px;
            border-bottom: 8px solid black;
        }
/*   ------------------------  clock  ---------------------- */


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.logo {
  height: 88px;
  width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.container, .row, .col-md-6, .col-md-12,.card_body,.col-xs-10,.col-xs-2,.col-xs-12 {
  margin:0 auto;
  padding: 0;
  text-align: center;
}

.box-shadow {
  margin: auto;
  padding: 0;
  border: 1px solid #EEEEEE;
  height: 290px;
  width:-webkit-fill-available;
  background: linear-gradient(to top, #777777, #EEEEEE);;
}

.box-message {
  margin: auto;
  padding: 0;
  border: 1px solid #EEEEEE;
  height: 80px;
  width:all;
  vertical-align: middle;
  padding:6px;
  /*background: linear-gradient(to top, #777777, #EEEEEE);;*/
}

.card-body{
  vertical-align: middle;
}

ul{
  text-align:left;
  list-style-type:none;
}

/* LOGIN
-------------------------------------------------- */
.login{
  padding: 100px 30px 30px 30px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /*
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  */
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 36px;
  }

 
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 10px;
  }
  
}
